.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: x-large;
    text-align: center;
    color: #04E824;
    background-color: rgba(0, 0, 0, 0.5);
}